:root {
    --tropicalRainForest: rgb(1, 97, 96);
    --cadetBlue: rgb(97, 158, 155);
    --mistyRose: rgb(255, 236, 225);
    --tan: rgb(213, 177, 136);
    --jasperOrange: rgb(215, 141, 70);
}


body {
    font-family: "Trirong", Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: var(--mistyRose); */
    background-image: linear-gradient(to bottom right, var(--tropicalRainForest), var(--cadetBlue));
}

header {
    background-color: #333;
    color: var(--mistyRose);
    /* color: rgb(1, 97, 96); */
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--mistyRose);
    text-decoration: none;
}

.intro{
    margin: 20px auto;
    width: 1200px; 
    color: var(--mistyRose);
}
 .property-details {
    margin: 20px auto;
    /* width: 1200px; */
}



.properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 100px;

}

.property {
    /* background-color: white; */
    background-color: rgb(255, 236, 225);
    border: 1px solid #ddd;
    padding: 10px;
    width: 40%;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(215, 141, 70, 0.9);
}

.property img{
    width: 100%;
    height: 85%;
}

.coming-soon {
    background-color: #f0f0f0;
}


.property h3 {
    margin: 0 0 10px 0;
}

.property a {
    text-decoration: none;
    color: #333;
}


footer {
    background-color: #333;
    color: var(--mistyRose);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.contact-info, .contact-form {
    margin: 20px auto;
    width: 800px;
}


.contact-details {
    
    background-color: var(--mistyRose);
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(215, 141, 70, 0.9);
    margin-bottom: 20px;
}

.contact-details p {
    margin: 5px 0;
}

.contact-form {
    margin: 20px auto 100px; 
    background-color: var(--mistyRose);
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(215, 141, 70, 0.9);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px;
    background-color:rgb(97, 158, 155);
    color: var(--mistyRose);
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(1, 97, 96);
}
